body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
        color: #3a241d;
        font-size: 40px;
        text-align:center;
    }

.pagina {
    background-color: white;
    height: auto;
    width: 85%;
    margin: 5vh auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    }

    .componente {
    /*margin-left: 2em;
    margin-right: 1em;*/
    position: absolute;
}

#plaza14, #plaza15{
    width: 250px;
    height: 250px;
}
#plaza8 {
    width: 100px;
    height: 100px;
}